<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"></script>

    </head>
    <body>
        <div class="ui container">
            <h1 class="ui massive header">Welcome</h1>

            <hr>
        
            
        
                <h2 class="ui small header">Navigation:</h2> <i class="large angle double right icon"></i>
                
                <button class="ui black inverted button"><a href="/hello">Hello</a></button>

        
                <hr>
        </div>
        {% block content %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    </body>

</html>